<div class="jumbotron text-center">
        <h1>{{'h1Ang' | translate}}</h1>
        <p>{{'h1Angular' | translate}}</p>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>{{'column' | translate}} 1</h3>
            <p>{{'columnText' | translate}}</p>
          </div>
          <div class="col-sm-4">
            <h3>{{'column' | translate}} 2</h3>
            <p>{{'columnText' | translate}}</p>
          </div>
          <div class="col-sm-4">
            <h3>{{'column' | translate}} 3</h3>
            <p>{{'columnText' | translate}}</p>
          </div>
        </div>
      </div>